header {
    color: #FFFFFF;
    background-color: #00A2E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 50px;
    height: 6vh;
}
header button {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}
header h2 {
    font-weight: 400;
    margin-top: 6px;
    letter-spacing: 0.5px;
}
.header-horz {
    display: flex;
    align-items: center;
    cursor: pointer;
}
header img {
    padding: 0px 10px;
}
.header-right {
    display: flex;
    margin-top: 3px;
}
.header-right div {
    padding: 0px 15px;
}
@media (max-width: 500px) {
    header img {
        padding: 0px 2px;
    }
    header {
        padding: 5px;
    }
    .header-right div {
        padding: 0px 6px;
    }
    header h2 {
        letter-spacing: 0px;
        font-size: 1rem;
    }
}