.compare-container {
    margin-top: 150px;
}
.top-compare {
    display: flex;
    justify-content: center;
}
.top-compare-box {
    width: 88vw;
    margin: 0 auto;
    background-color: #F6FAFD;
    padding: 70px 15px;
    border-radius: 24px;
}
.compare-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 50px;
    height: 249px;
    justify-content: space-around;
}
.compare-card h3 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
}
.compare-card p {
  color: #383838;
  font-size: 1rem;
  font-weight: 400;
}
/* bottom container best & fav  */
.bc-column {
    width: 40vw;
}
.bc-column h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.bc-column p {
    font-size: 1.4rem;
    color: #383838;
    font-weight: 400;
    line-height: 32px;
}
.bc-box {
    display: flex;
    margin: 50px 10px;
}
.bc-box img {
    margin-right: 40px;
}
.bc-box:nth-child(1) img{
    width: 65px;
    height: 75px;
}
.bc-box:nth-child(2) img{
    width: 65px;
    height: 58px;
}
.bCompare-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 150px;
    margin: 90px 0px;
    position: relative;
}
.man {
    position: absolute;
    top: 63.6%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.left-bcompare button {
    width: 300px;
    height: 55px;
    border-radius: 12px;
    border: none;
    background-color: #3A5295;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-left: 120px;
    letter-spacing: 2px;
    padding-top: 3px;
}
.left-bcompare button:hover {
    background-color: #00A2E1;
}
@media (min-width: 1817px) {
    .man {
    display: none;
    }
    .bCompare-container {
        justify-content: center;
        padding-left: 0px;
    }
    .left-bcompare button {
        margin-left: 100px;
    }
    }
@media (max-width: 1401px) {
    .man {
    top: 63.5%;
    left: 77%;
    }
    .bCompare-container {
        padding-left: 70px;
    }
}
@media (max-width: 1395px) {
        .man {
        top: 66.1%;
        }
        .bCompare-container {
            padding-left: 70px;
        }
    }
@media (max-width: 1280px) {
    .man {
    top: 66%;
    }
    }
@media (max-width: 1225px) {
        .man {
        height: 450px;
        top: 70.7%;
        left: 76%;
        }
        .bCompare-container {
            padding-left: 50px;
        }
    }
@media (max-width: 1010px) {
    .man {
        display: none;
    }
    .bCompare-container {
        justify-content: center;
        padding-left: 0px;
    }
    .left-bcompare button {
        margin-left: 75px;
    }
    }
@media (max-width: 890px) {
    .top-compare {
        flex-direction: column;
    } 
}
@media (max-width: 650px) {
    .bc-box:nth-child(1) img{
        width: 60px;
        height: 65px;
    }
    .bc-box:nth-child(2) img{
        width: 55px;
        height: 45px;
    }
    .bc-column h3 {
        font-size: 1.5rem;
    }
    .bc-column p {
        font-size: 1rem;
        color: #383838;
        line-height: 20px;
    }
    .left-bcompare button {
        width: 220px;
        height: 42px;
        font-size: 1rem;
    }
}
@media (max-width: 650px) {
    .bc-box:nth-child(1) img{
        width: 60px;
        height: 65px;
    }
    .bc-box:nth-child(2) img{
        width: 55px;
        height: 45px;
    }
    .bc-column h3 {
        font-size: 1.5rem;
    }
    .bc-column p {
        font-size: 1rem;
        color: #383838;
        line-height: 20px;
    }
    .left-bcompare button {
        width: 230px;
        height: 42px;
        font-size: 1rem;
    }
}
@media (max-width: 448px) {
    .left-bcompare button {
       margin-left: 30px;
    }
}
@media (max-width: 375px) {
    .bc-box img{
       display: none;
    }
    .bc-column{
       display: none;
    }
     .bCompare-container{
        height: 0px;
     }
     .left-bcompare button {
        margin-bottom: 150px;
        margin-right: 25px;
     }
}
