.compare-container {
    margin-top: 150px;
}
.top-compare {
    display: flex;
    justify-content: center;
}
.top-compare-box {
    width: 88vw;
    margin: 0 auto;
    background-color: #F6FAFD;
    padding: 70px 15px;
    border-radius: 24px;
}
.compare-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 50px;
    height: 249px;
    justify-content: space-around;
}
.compare-card h3 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
}
.compare-card p {
  color: #383838;
  font-size: 1rem;
  font-weight: 400;
}
/* bottom container best & fav  */
.bc-column {
    width: 40vw;
}
.bc-column h3 {
    font-size: 2rem;
    font-weight: 500;
}
.bc-column p {
    font-size: 1.4rem;
}
.bc-box {
    display: flex;
    margin: 50px 10px;
}
.bc-box img {
    margin-right: 40px;
}
.bc-box:nth-child(1) img{
    width: 65px;
    height: 75px;
}
.bc-box:nth-child(2) img{
    width: 65px;
    height: 58px;
}
.bCompare-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-bcompare button {
    width: 300px;
    height: 55px;
    border-radius: 12px;
    border: none;
    background-color: #3A5295;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-left: 120px;
    letter-spacing: 2px;
    padding-top: 3px;
}
.left-bcompare button:hover {
    background-color: #00A2E1;
}
