.compare-container {
    margin-top: 150px;
}
.top-compare {
    display: flex;
    justify-content: center;
}
.top-compare-box {
    width: 88vw;
    margin: 0 auto;
    background-color: #F6FAFD;
    padding: 70px 15px;
    border-radius: 24px;
}
.compare-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 50px;
    height: 249px;
    justify-content: space-around;
}
.compare-card h3 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
}
.compare-card p {
  color: #383838;
  font-size: 1rem;
  font-weight: 400;
}
/* bottom container best & fav  */
.bc-column h3 {
    font-size: 2rem;
    font-weight: 500;
}
.bc-column p {
    font-size: 1.4rem;
}
.bc-box {
    display: flex;
    /* width: 50vw; */
    margin: 50px 10px;
}
.bc-box img {
    margin-right: 20px;
}
.bCompare-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
