.header-box {
    position: relative;
    margin-bottom: 110px;
}
.form-container {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-container form {
    background-color: #FFFFFF;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    border-radius: 24px;
    box-shadow: 0px 4px 20px 0px #00000014;
    border: 1px solid #CED3D8;
}
.form-container select {
    width: 55%;
    color: black;
    border: 1px solid #CED3D8;
    padding: 0px 15px;
    /* hides preset arrow  */
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}
.form-container select, button {
    letter-spacing: 1px;
    height: 48px;
    border-radius: 12px;
}
.form-container button{
    width: 25%;
    border: none;
    background-color: #00A2E1;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 5px;
}
.form-container button:hover {
    background-color: #3A5295;
}
.arrow {
    position: absolute;
    height: 7px;
    z-index: 1;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.cities-section h2{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px;
}
.cities-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
    gap: 50px;
}
.cities-container img {
    border-radius: 24px;
    width: 700px;
    height: 400px; 
}
.city-card {
    position: relative;
}
.city-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-shadow: 1px 2px 15px black;
}
.city-details h2 {
    margin-bottom: 10px;
    font-weight: 600;
}
.cities-container button {
    position: absolute;
    background-color: #3A5295;
    border-radius: 12px;
    width: 200px;
    height: 48px;
    color: #FFFFFF;
    font-weight: 600;
    top: 103%;
    border: none;
    letter-spacing: 2px;
    font-size: 1rem;
    padding-top: 5px;
}
.cities-container button:hover{
    background-color: #00A2E1;
}
.error {
   color: lightcoral;
   letter-spacing: 1px;
   margin-top: 100px;
}
@media (max-width: 2400px) {
    .cities-container img {
        width: 620px;
        height: 400px;
    }
}
@media (max-width: 2100px) {
    .cities-container img {
        width: 600px;
    }
}
@media (max-width: 2000px) {
    .cities-container img {
        width: 550px;
    }
}
@media (max-width: 1870px) {
    .cities-container img {
        width: 520px;
    }
}

@media (max-width: 1790px) {
    .cities-container img {
        width: 500px;
    }
}
@media (max-width: 1690px) {
    .cities-container img {
        width: 480px;
    }
}
@media (max-width: 1600px) {
    .cities-container img {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 1360px) {
    .cities-container img {
        width: 380px;
        height: 300px;
    }
    .cities-container {
        gap: 20px;
    }
}
@media (max-width: 1250px) {
    .cities-container img {
        width: 360px;
        height: 300px;
    }
}
@media (max-width: 1150px) {
    .cities-container img {
        width: 340px;
        height: 280px;
    }
}
@media (max-width: 1059px) {
    .cities-container div:nth-child(9) {
        display: none;
    }
}

@media (max-width: 915px) {
    .cities-container {
        padding: 0px 30px;
    }
}
@media (max-width: 850px) {
    .cities-container img {
        width: 320px;
        height: 250px;
        border-radius: 24px;
    }
}
@media (max-width: 540px) {
    .cities-container img {
        width: 400px;
        height: 300px;
    }
    .cities-container button {
        top: 101%;
    }
}
@media (max-width: 500px) {
    .cities-container img {
        width: 300px;
        height: 250px;
    }
    .arrow {
        left: 54%;
    }
    .cities-section h2{
        font-size: 1.2rem;
        padding: 0px 15px;
    }
}
@media (max-width: 415px) {
    .cities-container img {
        width: 300px;
        height: 250px;
    }
    .arrow {
        left: 53%;
    }
    .form-container select {
        padding: 0px 10px;
    }
    .form-container button{
        width: 37%;
    }
    .form-container form {
        width: 86vw;
        height: 90px;
    }
}
