.header-box {
    position: relative;
    margin-bottom: 110px;
}
.form-container {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-container form {
    background-color: #FFFFFF;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    border-radius: 24px;
    box-shadow: 0px 4px 20px 0px #00000014;
    border: 1px solid #CED3D8;
}
.form-container select {
    width: 55%;
    color: black;
    border: 1px solid #CED3D8;
    padding: 0px 15px;
    /* hides preset arrow  */
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}
.form-container select, button {
    letter-spacing: 1px;
    height: 48px;
    border-radius: 12px;
}
.form-container button{
    width: 25%;
    border: none;
    background-color: #00A2E1;
    color: #FFFFFF;
}
.arrow {
    position: absolute;
    height: 7px;
    z-index: 1;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.cities-section h2{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px;
}
.cities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 35px;
    justify-items: center;
    padding: 0px 15px;
}
.cities-container img {
    width: 400px;
    height: 300px;
    border-radius: 24px;
}
.city-card {
    position: relative;
}
.city-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
}
.city-details h2 {
    margin-bottom: 10px;
    font-weight: 600;
}
.error {
   color: lightcoral;
   letter-spacing: 1px;
   margin-top: 100px;
}
@media (max-width: 1024px) {
    .cities-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 40px;
        padding: 0px 50px;
    }
}
@media (max-width: 915px) {
    .cities-container {
        padding: 0px 30px;
    }
}
@media (max-width: 850px) {
    .cities-container img {
        width: 320px;
        height: 250px;
        border-radius: 24px;
    }
}
@media (max-width: 540px) {
    .cities-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .cities-container img {
        width: 400px;
        height: 300px;
    }
}
@media (max-width: 500px) {
    .cities-container img {
        width: 300px;
        height: 250px;
    }
}
/* fix extra spacing on right side for mobile  */